<% provide :title, (t 'objects.menulink.edition') %>

<header>
  <h4><%= t 'objects.menulink.edition' %></h4>
</header>

<article>
  <%= render 'error_messages' %>
  <%= form_for @menulink,
        :url => {
                :controller => :menulinks,
                :action => :update,
        } do |f| %>
    <%= render 'menulink_form', :f => f %>
    <button type="submit"><%= t 'common.actions.edit', :obj => (t 'objects.menulink.self') %></button>
  <% end %>
</article>
