<% provide(:title, t(:adminiface)) %>
<header>
  <h3><%= t(:adm_welcome) %></h3>
</header>

<article>
  <p><%= t(:adm_welcome_desc) %></p>
  <h4><%= t(:systeminfo) %></h4>
  <ul>
    <li><%= t 'version', :product => t(:ruby), :version => RUBY_VERSION %></li>
    <li><%= t 'version', :product => t(:rails), :version =>  Rails::VERSION::STRING %></li>
  </ul>
</article>
