<% provide(:title, (t 'admin.interface')) %>
<header>
  <h3><%= t 'admin.welcome.title' %></h3>
</header>

<article>
  <p><%= t 'admin.welcome.desc' %></p>
  <h4><%= t 'admin.systeminfo' %></h4>
  <ul>
    <li><%= t 'admin.version', :product => (t 'common.product.ruby'), :version => RUBY_VERSION %></li>
    <li><%= t 'admin.version', :product => (t 'common.product.rails'), :version =>  Rails::VERSION::STRING %></li>
  </ul>
  <h4><%= t 'admin.settings' %></h4>
  <ul>
    <li><%= link_to (t 'admin.menulinks.personalisation'), admin_personalisation_index_path %></li>
    <li><%= link_to (t 'admin.menulinks.interface'), admin_menulinks_path %></li>
    <li><%= link_to (t 'admin.forum.interface'), admin_forum_index_path %></li>
  </ul>
</article>
