<% provide(:title, (t 'forum.welcome.title')) %>

<header>
  <h3><%= t 'forum.welcome.title' %></h3>
</header>

<article>
    <div class="forum_container">
        <% @metaforums.each do |metaforum| %>
            <div class="metaforum">
                <p class="forum_p"><%= "#{metaforum.title}" %></p>
                <p class="forum_p"><%= "#{metaforum.desc}" %></p>
                <% metaforum.forums.ordered.each do |forum| %>
                    <div class="forum_data">
                        <div class="forum">
                            <p class="forum_p"><span class="forum_name"><%= link_to forum.title, forum_path(forum.url) %></span></p>
                            <p class="forum_p"><span class="forum_description"><%= forum.desc %></span></p>
                        </div>
                        <div class="forum_posts">
                            <%= forum.posts.count %>
                        </div>
                        <% if forum.posts.empty? %>
                          <div class="forum_last_topic">
                            Nothing here
                          </div>
                        <% else %>
                          <div class="forum_last_topic">
                            <img class="forum_index_avatar" src="<%= avatar_url(forum.posts.last.user) %>">
                            <% if forum.posts.last.comment_threads.empty? %>
                              <p class="forum_p"><%= link_to forum.posts.last.subject, forum_post_path(forum, forum.posts.last) %></p>
                            <% else %>
                              <p class="forum_p"><%= link_to forum.posts.last.subject, forum.posts.last.comment_threads.last.absolute_url %></p>
                            <% end %>
                            <p class="forum_p"><%= forum.posts.last.user.nick %></p>
                            <% if forum.posts.last.comment_threads.empty? %>
                                <%= l forum.posts.last.created_at, :format => :long %>
                            <% else %>
                                <%= l forum.posts.last.comment_threads.last.created_at, :format => :long %>
                            <% end %>
                            </p>
                          </div>
                        <% end %>
                    </div>
                <div class="clear"></div>
            <% end %>
            </div>
        <div class="clear"></div>
        <% end %>
    </div>
</article>
