<% provide(:title, (t 'newslenta.welcome.title')) %>

<header>
  <h3><%= t 'newslenta.welcome.title' %></h3>
</header>

<article>
    <% @news.each do |post| %>
    <div class="news_item">
        <div class="news_item_header">
            <%= link_to post.subject, forum_post_path(post.forum, post) %>
        </div>
        <div class="news_item_created">
            <%= l post.created_at, :format => :long %>
        </div>
        <div class="clear"></div>
        <div class="news_item_text">
          <%= markdown.render(post.message).html_safe %>
        </div>
        <div class="news_item_info">
            <a href="<%= forum_post_path(post.forum, post) %>">Comments: <%= post.comment_threads.count %></a>
        </div>
    </div>
    <div class="clear"></div>
    <% end %>
</article>
