<% provide(:title, (t 'tracker.title')) %>

<header>
  <h3><%= t 'tracker.title' %></h3>
</header>

<article>
  <div class="tracker_container">
      <div class="tracker_line tracker_header">
        <div class="tracker_link">
          <%= t 'activerecord.attributes.tracker_line.title' %>
        </div>
        <div class="tracker_date">
          <%= t 'activerecord.attributes.tracker_line.created_at' %>
        </div>
      </div>
    <% @tracker.each do |line| %>
      <div class="tracker_line">
        <div class="tracker_link">
          <%= link_to line.title, line.obj.absolute_url %>
        </div>
        <div class="tracker_date">
          <%= l line.created_at, :format => :long %>
        </div>
      </div>
    <% end %>
  </div>
</article>
