<p><%= t 'common.greetings.hello', :user => @resource.nick %></p>

<p><%= t 'common.actions.login.reset_pass.desc', :site => Yetting.site_name %></p>

<p><%= link_to (t 'common.actions.login.reset_pass.action'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t 'common.actions.login.reset_pass.decline' %></p>

<p><%= t 'common.footer.email_signature_html', :team => Personalisation.find(2).data %></p>
