<p><%= t 'common.greetings.hello', :user => @resource.nick %></p>

<p><%= t 'common.actions.login.locked.desc', :site => Yetting.site_name %></p>

<p><%= link_to (t 'common.actions.login.locked.action'), unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>

<p><%= t 'common.actions.login.locked.decline' %></p>

<p><%= t 'common.footer.email_signature_html', :team => Personalisation.find(2).data %></p>
