<header class="siteheader">
  <div class="menu rightfloat">
    <%= link_to 'shit', '/' %>
    <%= link_to 'piss', '/' %>
  </div>
  <div class="userlinks rightfloat">
    <% if user_signed_in? %>
      <%= t 'welcome', :user => @user.nick %>
      <%= link_to "[X]", destroy_user_session_path, :method => :delete %> |
      <% if current_user.admin? %>
         <%= link_to t(:adminiface), admin_index_path %> |
      <% end %>
      <%= link_to t(:edit_registration), edit_user_registration_path %>
    <% else %>
      <%= link_to t(:register), new_user_registration_path %> |
      <%= link_to t(:login), new_user_session_path %>
    <% end %>
  </div>
  <%= link_to Yettings.site_name, root_path, :class => 'logo' %>
  <div class="clear"></div>
</header>
