<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "default/default", :media => "all" %>
  <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/default.min.css">
  <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<script type="text/javascript">
WebFontConfig = {
google: { families: [ 'Play:400,700:latin' ] }
};
(function() {
var wf = document.createElement('script');
wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
    '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
wf.type = 'text/javascript';
wf.async = 'true';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(wf, s);
})();
</script>
</head>
<body>

<%= render 'layouts/header' %>

<div class="noticies">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :class => "flash flash_#{name}" if msg.is_a?(String) %>
  <% end %>
</div>

<div class="content">
  <%= yield %>
</div>

<hr>
<footer>
  <div class="footer_text center">
    <%= t 'common.footer.footer_html', :team => Personalisation.find(2).data %>
    <p>
      Avaliable languages
      <% @localelist[0..-2].each do |locale| %>
        <%= link_to locale[1], url_for(:locale => locale[0]) %> |
      <% end %>
      <%= link_to @localelist.last[1], url_for(:locale => @localelist.last[0]) %>
    </p>
  </div>
</footer>

</body>
</html>
